{% extends 'base.html' %}
{% block content %}


<body>
    <div style="text-align: center;">
        <form action="{%url 'urlnameupdate' update_apply.id %}" method="POST">
        {% csrf_token %}
        <h3>수정 페이지 입니다.</h3> <br>

        <div class="input-group mb-auto">
        <span class="input-group-text" id="inputGroup-sizing-default">이름</span>
        <input type="text" name="htmlname" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-auto" value="{{update_apply.name}}">
        </div>


        <div class="input-group mb-auto">
        <span class="input-group-text" id="inputGroup-sizing-default">학번</span>
        <input type="text" name="htmlstudent_id" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-auto"  value="{{update_apply.student_id}}">
        </div>

        <div class="input-group mb-auto">
        <span class="input-group-text" id="inputGroup-sizing-default">학과</span>
        <input type="text" name="htmlmajor" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-auto" value="{{update_apply.major}}">
        </div>

        <div class="form-floating">
        <textarea class="form-control" name="htmlq1" id="floatingTextarea2" style="height: 200px">{{update_apply.q1}}</textarea>
        <label for="floatingTextarea2">Q1. 지원동기</label>
        </div>

        <div class="form-floating">
        <textarea class="form-control" name="htmlq2" id="floatingTextarea2" style="height: 200px">{{update_apply.q2}}</textarea>
        <label for="floatingTextarea2">Q2. 자신의 장단점</label>
        </div>

        <div class="form-floating">
        <textarea class="form-control" name="htmlq3" id="floatingTextarea2" style="height: 200px">{{update_apply.q3}}</textarea>
        <label for="floatingTextarea2">Q3. 멋사에서 해보고 싶은 것</label>
        </div>

        <div class="form-floating">
        <textarea class="form-control" name="htmlq4" id="floatingTextarea2" style="height: 200px">{{update_apply.q4}}</textarea>
        <label for="floatingTextarea2">Q4. 앞으로의 다짐</label>
        </div>

        <br>
        <br>

        <div class="mb-3">
        <label for="formFile" class="form-label">포트폴리오 제출(필수X)</label>
        <input class="form-control" type="file" id="formFile">
        </div>
        
        
            <div style="text-align: center;">
            <button type="submit">수정완료</button><br><br>
            </div>
            
            </div>
        </form>
    

{% endblock%}